.catalog {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cat {
    display: flex;
    align-items: center;
    gap: 40px;
}

.cat p {
    font-size: 18px;
    font-weight: 500;
}

.btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog a {
    font-size: 20px;
    font-weight: 500;
    color: #0009EA;
    background-color: #e5e5e5;
    padding: 10px 40px;
    align-self: flex-end;
    border-radius: 4px;
    margin-bottom: 50px;
}